azure-storage-blob==12.28.0b1
azure-identity==1.23.0
azure-ai-documentintelligence==1.0.2
azure-core==1.38.0

beautifulsoup4==4.14.3
django-debug-toolbar==4.4.6
django-extensions==4.1
django-htmx==1.21.0
django-phac_aspc-helpers==3.2.0
# -e /Users/acl/Documents/code/django-phac_aspc-helpers
django-routify==0.3.4
django-versionator==2.1
django-data-fetcher==2.2
django-database-task==0.2.4
Django==6.0.1
Faker==15.1.1
gunicorn==22.0.0
grobid-client-python==0.1.4
htpy==25.12.0
httpx==0.28.1
ipython==8.10.0
psycopg[binary,pool]==3.2.3
python-decouple==3.8
pydantic==2.13.4
pytz==2024.1
requests==2.32.4
rules==3.3
whitenoise==6.4.0
