/* messages */
#message-bar:has(.django-message) {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.alert.django-message {
    border-radius: 0;
    margin: 0;
}

/* end messages */


button:focus,
.btn:focus,
.btn-close:focus,
.form-select:focus,
.form-control:focus,
.phac_aspc_form_autocomplete_focus_ring.active,
a:focus,
div:focus,
i:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline-offset: 0.125rem;
    border-color: #0535d2;
    box-shadow: 0 0 0 0.125rem white;
    outline-color: rgb(5, 53, 210);
    outline-style: solid;
    outline-width: 0.25rem;
}


strong>span+label {
    display: inline;
    margin-left: 0.125rem;
}



dl.custom-dl {
    display: grid;
    grid-template-columns: fit-content(14rem) minmax(0, 1fr);
    gap: 0.5rem 0;
    background: #fcfcfc;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;

    dt,
    dd {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #ccc;
        min-width: 0;
        overflow-wrap: anywhere;
    }

    dt {
        font-weight: bold;
    }

    dd {
        padding-left: 1rem;
        margin: 0;
    }
}
