# .coveragerc
[run]
omit =
    # pybars3 compiles templates into synthetic, non-filesystem modules.
    */_templates/*

[report]
show_missing = False
omit =
    */tests/*
    */migrations/*
    */__init__.py
    */rebuild*
